@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #09090b; /* Zinc 950 */
    --foreground: #fafafa; /* Zinc 50 */

    --card: #18181b; /* Zinc 900 */
    --card-foreground: #fafafa;

    --muted: #27272a; /* Zinc 800 */
    --muted-foreground: #a1a1aa; /* Zinc 400 */

    --accent: #27272a;
    --accent-foreground: #fafafa;

    --border: #27272a;

    --primary: #2563eb; /* Blue 600 */
    --primary-foreground: #ffffff;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}